<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"/>
    <ion-title>Dinosaur Fossils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dinosaur Fossils</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div id="container">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Dinosauria_montage_3.jpg/290px-Dinosauria_montage_3.jpg"> <br> <br>
  <p>Pick your favourite! I will name the creatures from left to right, top to bottom.</p> <br>
  <ion-button>Stegosaurus</ion-button> <br>
  <ion-button>Herrerasaurus</ion-button> <br>
  <ion-button>Triceratops</ion-button> <br>
  <ion-button>Apatosaurus</ion-button> <br>
  <ion-button>Microraptor</ion-button> <br>
  <ion-button>Edmontosaurus</ion-button> <br>
</div>
