<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"/>
    <ion-title>Dinosaur Extinction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dinosaur Extinction</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div id="container">
  <img style="scale:50%;"
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fscitechdaily.com%2Fimages%2FDinosaur-Extinction-Asteroid-777x518.jpg&f=1&nofb=1&ipt=6743c09c503e2435eded156dfbe28a99ff2d8e8c1f2e9ce11d91840ddf8c64ab&ipo=images"
  >
  <p>
    Dinosaurs went extinct about 66 million years ago. <br>
    The cause was a massive asteroid that hit somewhere around what is now Mexico. <br>
    All but the avian dinosaurs went extinct but prior to the extinction event, an estimated 600-1100 non avian dinosaur species existed. <br>
    No one knows if they were thriving or declining at the time. <br>
    A sudden increase in irradiated materials and an increase in shocked quartz (made once a large shockwave hits) supports the theory of the giant asteroid hitting.
  </p>
</div>