<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dinosaur Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dinosaur Information</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Welcome to my page on dinosaurs!</h1>
    
    <ion-button routerLink="/species">Species</ion-button>
    <ion-button routerLink="/fossils">Fossils</ion-button>
    <ion-button routerLink="/extinction">Extinction</ion-button>

    <br> <br>
    <p>Dinosaurs ("Terrible lizards") first appeared between 245 and 233.23 million years ago. <br>
      They were the dominant creatures at the time and are quite popular in modern media. <br>
      We know of the dinosaurs through fossil evidence (some can be seen in the fossils page!). <br>
      Dinosaurs actually still exist today, just not as you'd think. Birds are descendants of the avian dinosaurs! <br>
      Some popular dinosaurs include: Tyrannosaurus Rex, Stegosaurus, Triceratops, Pterodactyl, Brachiosaurus, Velociraptors, etc.
    </p>
    
  </div>
</ion-content>
